# Fuzzy controller
numpy>=1.26
scipy>=1.13,<1.16    # <1.16 kompatibel Python 3.10 (scipy 1.16+ butuh Python 3.11+)
packaging>=24.0
networkx>=3.2
scikit-fuzzy>=0.5.0
# Brain + watchdog
requests>=2.31
python-dotenv>=1.0
